:root {
  --primary-color: #450c87;
  --secondary-color: #ff8800;
  --background-color: #f5f5f5;
  --text-color-white: #f5f5f5;
  --color-error: #e7195a;
  --color-header: #fff;
  --color-form-background: #fff;
  --text-color: #333;
  --color-border: #ddd;
  --light-pink-text: #b6b9d6;

  /* Nav*/
  --nav-background-color: #fff;
  --color-active-nav-background: #f2f2f2;
}
