:root {
  --primary-color: #450c87;
  --secondary-color: #ff8800;
  --background-color: #f5f5f5;
  --text-color-white: #f5f5f5;
  --color-error: #e7195a;
  --color-header: #fff;
  --color-form-background: #fff;
  --text-color: #333;
  --color-border: #ddd;
  --pink-text-light: #b9abd0;
  --card-background-light-opcaity: rgba(255, 255, 255, 0.1);
  --h2-color: rgb(227, 228, 240);

  /* Nav*/
  --nav-background-color: #fff;
  --color-active-nav-background: #f2f2f2;
}
