.cardContainer {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.card {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: var(--primary-color);
  font-weight: 500;
}

.data {
  font-weight: 500;
  font-size: 28px;
}

.dividingLine {
  background-image: linear-gradient(
    to right,
    transparent,
    var(--primary-color),
    transparent
  );
  background-size: 100% 1px;
  background-position: bottom;
  width: 100%;
  max-width: 960px;
  height: 1px;
  margin-top: 50px;
}

.icon {
  stroke: var(--primary-color);
  width: 34px;
  height: 30px;
}

@media (max-width: 960px) {
  .cardContainer {
    flex-direction: column;
    flex-basis: 0;
  }

  .cardTitle {
    font-size: 24px;
  }

  .card {
    margin-bottom: 20px;
  }

  .data {
    font-weight: bold;
    font-size: 28px;
  }

  .icon {
    display: none;
  }

  .dividingLine {
    margin-top: 10px;
  }
}
