form.login {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background: var(--color-form-background);
  border-radius: 4px;
  color: var(--color-text);
}

.formField {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.button {
  background: var(--primary-color);
  border: 0;
  color: var(--text-color-white);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

.errorText {
  color: var(--color-error);
}
