@import "../../colors.module.css";

header {
  background: var(--color-header);
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(131, 66, 201, 0.4);
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--text-color-white);
  opacity: 0.9;
  text-decoration: none;
}

header h1 {
  font-size: 1.5rem;
}

nav a {
  text-align: right;
  margin-right: 15px;
  padding: 10px;
}

nav button {
  background: none;
  color: var(--text-color-white);
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  border: none;
  font-size: 1em;
  margin-right: 15px;
}

nav button.logoutButton {
  margin-left: 15px;
}

nav button.logoutButton:hover {
  color: var(--color-error);
}

.active {
  color: var(--text-color-white);
  border-radius: 5px;
  padding: 10px;
  text-decoration: underline;
}

/* Responsive menu */

.navElements {
  top: 60px;
  display: flex;
}

.menuIcon {
  display: none;
}

.closeBarLink {
  display: none;
}

@media (max-width: 600px) {
  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .navElements {
    position: absolute;
    right: 0;
    width: 0px;
    z-index: 1000;
    transition: all 0.3s cubic-bezier(0.73, -0.64, 0.32, 1.83);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 10px;
    height: auto;
  }

  .navElements a:first-child {
    margin-top: 30px;
  }

  .activeBar {
    width: 55%;
    background-color: rgb(103, 89, 160);
  }

  .active {
    position: relative;
    color: var(--secondary-color);
  }

  nav button {
    background: none;
    color: var(--text-color-white);
  }

  /* .active::before {
    content: "";
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 100px;
  } */
}
